<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/styles/myface.css" />
        <title>Home Page :: My🙂Face</title>
    </head>

    <body>
        <nav>
            <div class="nav-inner">
                <a href="/" class="brand">My🙂Face</a>
            </div>
        </nav>

        <div class="limited-width-container">
            <h1>Welcome to My🙂Face</h1>
            <a href="/users" class="button">
                Login
            </a>
            <a href="/signup" class="button">
                Sign Up
            </a>
        </div>
    </body>
</html>