<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" type="text/css" href="/styles/users.css"/>

<script src="/js/users.js"></script>
<body>
<div class="split-container">
    <div class="left-column">
    <h1>Say Hi to all the myFace users!</h1>
    <p th:each="loggedInUser: ${model.users}" class="loggedInUser-link">
        <a th:text="${loggedInUser.username}" th:onclick="'getUser(\'' + ${loggedInUser.username} + '\');'"></a>
    </p>
    </div>
    <div class="right-column">
    </div>

</div>
</body>
</html>