<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

        <link rel="stylesheet" type="text/css" href="/styles/wall.css" />

    <body>
        <div class="limited-width-container">
            <h1><span th:text="${model.wallUser.username}"></span>'s wall</h1>

            <div th:each="post: ${model.posts}" class="post">
                <div class="post-sender">
                    <a th:href="${'/wall/' + post.sender.username}"
                       th:text="${'🙂 ' + post.sender.username}"></a>
                    says:
                </div>
                <div th:text="${post.content}"></div>
            </div>


            <h1>Write something on <span th:text="${model.wallUser.username}"></span>'s wall!</h1>

            <form method="post" th:action="${'/wall/' + model.wallUser.username + '/post'}">
                <input type="text" name="content" />
                <input type="submit" value="Post!" />
            </form>
        </div>

    </body>
</html>