body {
margin: 0;
height: 100vh;
width: 100vw;


background: #e61919;
animation: color 30s linear infinite;

display: flex;
flex-direction: column;
align-items: stretch;
justify-content: space-between;
}

main.container {
flex-grow: 1;
display:flex;
}

footer {
flex-grow: 0;
text-align: center;
}

@-moz-keyframes color {
	0% {
		background: #e61919;
	}

	25% {
		background: #80e619;
	}

	50% {
		background: #19e5e6;
	}

	75% {
		background: #7f19e6;
	}

	100% {
		background: #e61919;
	}
}

@-webkit-keyframes color {
	0% {
		background: #e61919;
	}

	25% {
		background: #80e619;
	}

	50% {
		background: #19e5e6;
	}

	75% {
		background: #7f19e6;
	}

	100% {
		background: #e61919;
	}
}

@-o-keyframes color {
	0% {
		background: #e61919;
	}

	25% {
		background: #80e619;
	}

	50% {
		background: #19e5e6;
	}

	75% {
		background: #7f19e6;
	}

	100% {
		background: #e61919;
	}
}

@keyframes color {
	0% {
		background: #e61919;
	}

	25% {
		background: #80e619;
	}

	50% {
		background: #19e5e6;
	}

	75% {
		background: #7f19e6;
	}

	100% {
		background: #e61919;
	}
}